<ion-header>
  <ion-navbar>
    <ion-title>
      Do It!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background': '#f4f4f4'}">
  <ion-refresher (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Search Items"></ion-searchbar>
  <!-- <ion-searchbar placeholder="Search Items" (ionInput)="filterItems($event)"></ion-searchbar> -->

  <!-- <ion-item-divider color="light"></ion-item-divider> -->

  <ion-list>     
      <button ion-item (click)="goToInbox()" icon-start>
        <ion-icon name='ios-filing' color='primary' item-start></ion-icon>
        Inbox
        <ion-badge *ngIf="lists.inbox.overdue | async" color='danger' item-end>{{lists.inbox.overdue | async}}</ion-badge>
        <ion-note *ngIf="lists.inbox.notdone | async" item-end>{{lists.inbox.notdone | async}}</ion-note>
      </button>
  </ion-list>

  <ion-list >
    <button ion-item (click)="goToToday()" icon-start>
      <ion-icon name='star' color='bright' item-start></ion-icon>
      Today
      <ion-badge *ngIf="lists.today.overdue | async" color='danger' item-end>{{lists.today.overdue | async}}</ion-badge>
      <ion-note *ngIf="lists.today.notdone | async" item-end>{{lists.today.notdone | async}}</ion-note>
    </button>

    <button ion-item icon-start detail-none>
      <ion-icon name='albums' [ngStyle]="{'color': 'gray'}" item-start></ion-icon>
      Next
    </button>

    <button ion-item icon-start>
      <ion-icon name='calendar' [ngStyle]="{'color': '#E63135'}" item-start></ion-icon>
      Scheduled
    </button>

    <button ion-item icon-start>
      <ion-icon name='ios-archive' [ngStyle]="{'color': '#c7ad7b'}" item-start></ion-icon>
      Someday
      <ion-note item-end>
      ...maybe
      </ion-note>
    </button>   
  </ion-list>

  <ion-list >     
    <button ion-item icon-start>
      <ion-icon name='cube' [ngStyle]="{'color': 'lightgray'}" item-start></ion-icon>
      My projects
      <ion-note item-end>5</ion-note>
    </button>
  </ion-list>
  <ion-footer>
    <ion-note float-right padding-right>
      <em>v.{{version}}</em>
    </ion-note>  
  </ion-footer>
</ion-content>
