todo-list {

    p.overdue {
        color: color($colors, danger);
    }
    
    .item-md ion-icon[inline] {
        margin-top: 0;
        margin-bottom: 0;
    }

    button.add {
        margin-right: 10px;
        float: right;
    }

}