<ion-content>
    <ion-list [hidden]="!adding" inset>
        <ion-item>
        <ion-input #newTodo [(ngModel)]="newItem.title" ion-input placeholder="What to do...?"></ion-input>
        </ion-item>
        <ion-item>
        <button round icon-only large item-right ion-button color='danger' (click)="adding = false;">
            <ion-icon name='close'></ion-icon>
        </button>
        <button round icon-only large item-right ion-button color='secondary' (click)="addItem()">
            <ion-icon name='checkmark'></ion-icon>
        </button>
        </ion-item>
    </ion-list>

    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
        <ion-item-sliding *ngFor="let todo of todos | async" #slidingItem>
        <ion-item>
            <ion-checkbox [(ngModel)]="todo.isDone" (click)="save()" item-start></ion-checkbox>
            <ion-label>
            <h3>
                <ion-icon *ngIf="todo.isDueToday && !todo.dueTonight" name='star' color='bright'></ion-icon>
                <ion-icon *ngIf="todo.isDueToday && todo.dueTonight" name='moon' color='primary'></ion-icon>
                {{ todo.title }}</h3>
            <p class="due-date" *ngIf="todo.dueDate" [ngClass]="{'overdue': todo.isOverdue}"><em>{{todo.dueDate | date:'EEE, d. MMM' | lowercase}}</em></p>
            <p class="description">{{ todo.description }} <ion-icon inline small *ngIf="todo.call" name="call" item-end></ion-icon></p>
            </ion-label>
        </ion-item>
        <ion-item-options side="left">
            <button ion-button color='danger' (click)="delete(item)">
            <ion-icon name='trash'></ion-icon>
            Delete
            </button>
        </ion-item-options>
        <ion-item-options side="right">
            <button ion-button color='bright' (click)="setDueToday(item, slidingItem)">
            <ion-icon name='star'></ion-icon>
            Today
            </button>
            <button small ion-button color='primary' (click)="setDueTonight(item, slidingItem)">
            <ion-icon name='moon'></ion-icon>
            Tonight
            </button>
        </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <button ion-button class="add" large round color='primary' icon-only (click)="showAddNew(newTodo);">
        <ion-icon name='add' icon-end></ion-icon>    
    </button>
</ion-content>